.answer {
    width: 300px;
}

@media (min-width: 768px) {
    .answer {
        width: 650px;
    }
}

.answer__group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.answer__group--input-button {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.answer__result {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.answer__result--buttons {
    gap: 16px;
}

.root {
    margin-left: 10px;
}

.answer:not(:last-child) {
    margin-bottom: 40px;
    border-bottom: solid 1px #383838;
    padding-bottom: 20px;
}

.table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 680px;
    margin: 0 auto;
}

.table__item {
    border: solid 1px white;
    text-align: center;
    padding: 1rem;
    transition: .2s;
}

.table__item:not(.table__item--dynamic) {
    background-color: #666;
}

.table__item--dynamic {
    cursor: pointer;
}

.table__item--dynamic:hover {
    background-color: #666;
}

.table__item.is-hovered {
    background-color: #444442;
}

.text {
    margin-bottom: 1rem;
}

.text--red {
    color: red;
}

.image {
    object-fit: cover;
}

.list {
    list-style: none;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.list__item:not(U&:last-child) {
    margin-bottom: 16px;
}
